<form [formGroup]="customerForm" (ngSubmit)="onSubmitForm()">
          <div class="mb-3">
            <label class="form-label">{{ 'Signup.Full Name' | translate }}</label>
            <input type="text" class="form-control" formControlName="fullName" [placeholder]="'Signup.Enter your full name' | translate" />
            @if(customerForm.get('fullName')?.invalid && customerForm.get('fullName')?.touched) {
              <small class="text-danger">{{ 'Signup.Full name is required' | translate }}</small>
            }
          </div>

          <div class="mb-3">
            <label class="form-label">{{ 'Login.Email' | translate }}</label>
            <input type="email" class="form-control" formControlName="email" placeholder="sarah@example.com" />
            @if(customerForm.get('email')?.invalid && customerForm.get('email')?.touched) {
              <small class="text-danger">{{ 'Signup.Valid email is required' | translate }}</small>
            }
          </div>

          <div class="mb-3">
            <label class="form-label">{{ 'Login.Password' | translate }}</label>
            <input type="password" class="form-control" formControlName="password" />
            @if(customerForm.get('password')?.invalid && customerForm.get('password')?.touched) {
              <small class="text-danger">{{ 'Signup.Password must be at least 6 characters' | translate }}</small>
            }
          </div>

          <div class="mb-3">
            <label class="form-label">{{ 'Signup.Phone Number' | translate }}</label>
            <input class="form-control" formControlName="phoneNumber" [placeholder]="'Signup.Enter 11 digit phone number' | translate" />
            @if(customerForm.get('phoneNumber')?.invalid && customerForm.get('phoneNumber')?.touched) {
              <small class="text-danger">{{ 'Signup.Enter a valid 11-digit Egyptian phone number.' | translate }}</small>
            }
          </div>

          <div class="mb-3">
            <label class="form-label">{{ 'Signup.Date of Birth' | translate }}</label>
            <input type="date" class="form-control" formControlName="dateOfBirth" />
            @if(customerForm.get('dateOfBirth')?.invalid && customerForm.get('dateOfBirth')?.touched) {
              <small class="text-danger">{{ 'Signup.Date of birth is required' | translate }}</small>
            }
          </div>

          <div class="mb-3">
            <label class="form-label">{{ 'Signup.City' | translate }}</label>
            <input type="text" class="form-control" formControlName="city" [placeholder]="'Signup.Enter your city' | translate" />
            @if(customerForm.get('city')?.invalid && customerForm.get('city')?.touched) {
              <small class="text-danger">{{ 'Signup.City is required' | translate }}</small>
            }
          </div>

          <div class="mb-3">
            <label class="form-label">{{ 'Signup.Area' | translate }}</label>
            <input type="text" class="form-control" formControlName="area" [placeholder]="'Signup.Enter your area' | translate" />
            @if(customerForm.get('area')?.invalid && customerForm.get('area')?.touched) {
              <small class="text-danger">{{ 'Signup.Area is required' | translate }}</small>
            }
          </div>

          <div class="mb-3">
            <label class="form-label">{{ 'Signup.Address' | translate }}</label>
            <textarea class="form-control" formControlName="address" rows="2" [placeholder]="'Signup.Enter your full address' | translate"></textarea>
            @if(customerForm.get('address')?.invalid && customerForm.get('address')?.touched) {
              <small class="text-danger">{{ 'Signup.Address is required' | translate }}</small>
            }
          </div>

          <div class="mb-3">
            <label class="form-label">{{ 'Signup.Profile Image URL' | translate }} ({{ 'Signup.Optional' | translate }})</label>
            <input type="url" class="form-control" formControlName="profileImageUrl" [placeholder]="'Signup.Enter image URL' | translate" />
          </div>

          <button class="btn signupBtn w-100" type="submit">
            {{ "Signup.Signup as Customer" | translate }}
          </button>
        </form>