.tab {
  background-color: #e9ecef;
  border: none !important;
  font-size: 15px;
}

.tab.active {
  background-color: white;
  color: #000 !important;
  margin: 0.2rem;
  border-radius: 15px;
  border: none;
}
.signupBtn{
  background-color: #1c1b2a;
  color: #fff;
}