.feature-card {
	opacity: 1;
	/* transform: translateY(40px);
	animation: slideUp 0.8s ease-out forwards;
	animation-delay: 0.2s; */
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Equivalent to a default or smaller shadow */
  transition: all 0.15s ease-in-out; /* Tailwind's default transition, adjust duration as needed */
  transform: scale(1)
  }
  
@keyframes slideUp {
	from {
	  opacity: 0;
	  transform: translateY(40px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
}
/* .feature-card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: scale(1.10);
} 
*/